.toobar-filter-date {
  position: relative;
  top:17px;
  width:100%;
  top: 36px;
  height: 50px;
  border-color: #f6f6f6 !important;
  outline: none;
  overflow: hidden;
  position: absolute !important;
  color: #404040;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  line-height: 17px;
  background: #ffff;
  display: flex;
}

.select-datetime {
  position: absolute;
  top: 5px;
  left: 7px;
  width: 115px;
  border-radius: 4px;
  height: 35px;
  font-size: 13px;
  border: 1px solid #bbbbbb;
  padding-left: 8px;
  padding-bottom: 1px;
  box-sizing: border-box;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAECAQAAAD2Bt1FAAAAMklEQVR42mNQDFX8r9jBAAaKqxT/KyqBGGmK/xXLGRgUZyr+V3RhgMqCBM8gCcAFoQIAgcYPEVUyFEIAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 15px;
  background-size: 9px;
  appearance: none;
}

.btn-quang {
  width: 125px;
  position: absolute;
  left: 530px;
  top: 5px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #2b3173;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  outline: none;
  white-space: nowrap;
  background-color: #fff;
  margin-right: 8px;
  color: #2b3173;
}

.btn-quang .icon-quang {
  background-image: url(/img/common-icon.6cf6ba71.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-left: 10px;
  margin-right: 8px;
  background-position: -602px -127px;
}

.datepic-side{
  position: absolute;
  left:128px;
  top:6px;
}
.datepic-side span{
  font-weight: 400;
  font-size: 13px;
  margin-right: 13px;
}
.datepic-side input{
  height: 31px;
  width: 126px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
}