/* Định dạng chung cho thẻ select */
select:focus{
    outline: none;
}
select:hover{
    cursor: pointer;
}
select{
    appearance: none;
}
select {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../../assets/img/arrow-down-line.png');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: center;
    background-size: 8px;
}